<!doctype html>
<html lang="en">

<head>
  <title>Narrow Down Your Menu Choice</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="styles/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="styles/styles.css"> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
    integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="app.js"></script>

</head>

<body ng-app='NarrowItDownApp'>
  <div class="container" ng-controller="NarrowItDownController as narrow">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="searchValue" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-info item" ng-click="narrow.getItems(searchValue);">Narrow It Down For Me!</button>
    </div>

    <div>
        <div>{{narrow.nothingFound}}</div>
      <table>
        <tr ng-repeat="item in narrow.found">
          <td>{{item.name}}</td>
          <td>{{item.shortname}}</td>
          <td>{{item.description}}</td>
          <td><button ng-click="narrow.remove(item)">Don't Want This One!</button></td>
        </tr>
      </table>


    </div>
    <!-- <found-items found-items="narrow.found_name" on-remove="...."></found-items> -->
  </div>

</body>

</html>
