* {
  font-family: helvetica;
}

h1 {
  font-size: 1.75em;
}

div {
  float:left;
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: DarkGrey;
  margin: 1%;
  padding: 2% 1% 0 1%;
  height: 90px;
  overflow: hidden;
  cursor: row-resize; /*cursor is vertical resize when on a box*/
}
div:hover { /*show overflow vertical scroll only on hover*/
  overflow-y: scroll;
}

h2 {
  font-size: 1.5em;
  box-sizing: border-box;
  border: 1px solid black;
  position: absolute;
  right:0;
  top:0;
  padding: .5%;
  margin: 0;
}

#Box1>h2 {
  background-color: pink;
}

#Box2>h2 {
  background-color: red;
  color: white;
}

#Box3>h2 {
  background-color: goldenrod;
}

@media screen and (min-width:992px) { /*Large Screens*/
  div {
    width: 30%;
  }
  h1{
    color: green;
  }
}
@media screen and (min-width:768px) and (max-width:991px) { /*Medium Screens*/
  div{
    padding: 3% 1% 0 1%;
  }
  h1{
    color:red;
  }
  #Box1 {
    width: 48%;
  }
  #Box2 {
    width: 48%;
  }
  #Box3 {
    width:98%
  }
}
@media screen and (max-width: 767px) {  /*Small Screens*/
  div {
    padding: 10% 1% 0 1%;
  }
  h1 {
    visibility: hidden;
  }
  h1:after{
    display: block;
    visibility: visible;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: left;
    content: "Categories";
    padding-left: 1%;
  }
  #Box1{
    width: 100%
  }
  #Box2{
    width: 100%
  }
  #Box3{
    width: 100%
  }
  h2 { /*Make the title the full size of the box*/
    width:100%;
  }
 #Box1>h2:after{ /*describe the chicken*/
  content: ": Don't even think about counting them before they've hatched"
 }
 #Box2>h2:after{  /*describe the beef*/
  content: ": American slang meaning to hold a grudge or start one"
 }
 #Box3>h2:after{  /*describe the sushi*/
  content: ": Did you know that most wasabi in the US is actually dyed horseradish? "
 }
}
